<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map slicer</title>
  <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
  <link rel="stylesheet" type="text/css" href="./static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="./static/css/index.css">
  <link rel="stylesheet" type="text/css" href="./static/css/codemirror.css">
  <link rel="stylesheet" type="text/css" href="./static/css/monokai.css">
</head>

<body>
  <div id="app"></div>
  <div class="popover">
    <h3 class="popover-title">GeoJson</h3>
    <div class="codemirror" id="codeMirror"></div>
    <div class="tools">
      <span class="confirm-btn">确定</span>
    </div>
  </div>
  <script src="https://api.map.baidu.com/api?v=3.0&ak=TNTeZWP0X7UDnCmrOnu48Fy5cur8puxe"></script>
  <script src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
  <script src="./static/js/codemirror.js"></script>
  <script src="./static/js/javascript.js"></script>
  <script src="./static/js/mvc.js"></script>
  <script src="./static/js/index.js"></script>
</body>

</html>